{{#if (isAuthenticated)}}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "home" class="navbar-brand"}}
          Mailbox-Watcher
        {{/link-to}}
      </div>
      {{projects-dropdown projects=model}}
    </div>
  </nav>
{{/if}}
<div id="outlet">
  <img
    alt="loading icon"
    id="spinner"
    class="center-block hide"
    src="/assets/images/loading.gif"
  >
  {{outlet}}
</div>
