<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          {{input id="token" enter=(action "login") required="true" class="form-control"}} 
        </div>
      </div>
    </div>
  </div>
</div>
